<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--закрасить адресную строку и строку уведомлений в любой цвет.-->
  <meta name="theme-color" content="#1f1f1f">
  <!--Для поиска в сети-->
  <meta name="description" content="Рады видеть Вас на нашем сайте.">
  <meta property="og:title" content="Путь JavaScript">
  <meta property="og:type" content="website">
  <!-- здесь ссылка на сайт-->
  <meta property="og:url" content="http://ссылка.ru/">
  <!-- <meta property="og:image" content="картинка для поисковиков ссылка"> -->
  <meta property="og:image" content="https:/ссылка.jpg">
  <meta name="keywords" content="Путь JavaScript, books, книгиб цена, магазин, JavaScript">
  <!-- // Для поиска в сети-->
  <title>Путь JavaScript</title>
  <link rel="preload" href="fonts/Consolas-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/ArialMT-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Arial-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Consolas-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Arial-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/OpenSans-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Arial-BoldMT.woff2" as="font" type="font/woff2" crossorigin>  
  <!-- Link Swiper's CSS. здесь только ссылками работает слайдер-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
  <script defer src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- Swiper JS В галпе в папке ./scss/vendor и в файле vendor.scss-->
  <!-- <link rel="stylesheet" href="css/swiper.css">--> 
  <!-- Дропдаун - Выбрать choices В галпе в папке ./scss/vendor и в файле vendor.scss-->
  <!-- <link rel="stylesheet" href="css/choices.min.css">--> 
  <!-- Swiper JS В галпе в папке ./js/vendor и в файле vendor.js 
  <script defer src="js/swiper.js"></script>-->
  <!-- Дропдаун - Выбрать choices В галпе в папке ./js/vendor и в файле vendor.js -->
  <!-- <script defer src="js/choices.min.js"></script> -->   
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>