<section class="hero">
  <div class="hero__container _container">
    <h2 class="hero__title h2">Путь JavaScript</h2>
    <p class="hero__desc hero__desc_none1024 desc">Можно выделить три основных направления для прогресса JavaScript Middle...</p>
    <div class="hero__img">
      <img class="img" src="img/way-JavaScript-icon.jpg" alt="Книги по JavaScript">
      <!-- Swiper -->
      <div class="hero__swiper swiper-container">
        <ul class="hero__list swiper-wrapper">
          <li class="hero__item swiper-slide">
            <picture>
              <source srcset="./img/way-JavaScript-mobile.jpg" media="(max-width: 400px)">
              <img src="./img/way-JavaScript-desktop.jpg" alt="Книги по JavaScript">
            </picture>
          </li>
          <li class="hero__item swiper-slide">
            <picture>
              <source srcset="./img/way-JavaScript-mobile.jpg" media="(max-width: 400px)">
              <img src="./img/way-JavaScript-desktop.jpg" alt="Книги по JavaScript">
            </picture>
          </li>
          <li class="hero__item swiper-slide">
            <picture>
              <source srcset="./img/way-JavaScript-mobile.jpg" media="(max-width: 400px)">
              <img src="./img/way-JavaScript-desktop.jpg" alt="Книги по JavaScript">
            </picture>
          </li>
          <li class="hero__item swiper-slide">
            <picture>
              <source srcset="./img/way-JavaScript-mobile.jpg" media="(max-width: 400px)">
              <img src="./img/way-JavaScript-desktop.jpg" alt="Книги по JavaScript">
            </picture>
          </li>
        </ul>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>-->
        <div class="hero__scrollbar swiper-scrollbar"></div>
        <!-- <div class="swiper-pagination"></div>  -->
      </div>
    </div>
    <p class="hero__desc hero__desc_none400 desc">Можно выделить три основных направления для прогресса JavaScript</p>
    <hr>
  </div>
</section>