<section class="post">
  <div class="post__container _container">
    <h2 class="post__title h2">
      Похожие посты
    </h2>
    <!-- Swiper POST-->
    <div class="post__swiper swiper-container">
      <ul class="post__list swiper-wrapper">
        <li class="post__item swiper-slide">
          <div class="post__img">
            <img src="img/img-post/01.jpg" alt="картинка-1">
          </div>
          <p class="post__desc desc">
            События жизненного цикла ReactJS
          </p>
        </li>
        <li class="post__item swiper-slide">
          <div class="post__img">
            <img src="img/img-post/02.jpg" alt="картинка-2">
          </div>
          <p class="post__desc desc">
            CSS Grids. Полное руководство
          </p>
        </li>
        <li class="post__item swiper-slide">
          <div class="post__img">
            <img src="img/img-post/03.jpg" alt="картинка-3">
          </div>
          <p class="post__desc desc">
            Асинхронность в JavaScript
          </p>
        </li>
      </ul>
      <div class="post__pagination swiper-pagination"></div>
    </div> 
  </div>
</section>