<section class="quote">
  <div class="quote__container _container">
    <h2 class="quote__title h2">Серверный JavaScript</h2>
    <div class="quote__text">
      <p class="quote__desc desc">
        Разработчики и клиенты часто неправильно понимают, что такое система. Они видят графический интерфейс и думают, что он и есть система. Они определяют систему в терминах графического интерфейса и считают, что должны сразу начать работу с графическим интерфейсом. Они не понимают важнейшего принципа: ввод/вывод не важен.
      </p>
      <span class="quote__span">
        &#8212; Р. Мартин
      </span>
    </div>
  </div>
</section>